*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body::-webkit-scrollbar {
  width: 10px; 
  border-radius: 20px;/* Ancho de la barra de desplazamiento */
} 

body::-webkit-scrollbar-thumb {
  background-color: #8888; 
  border-radius: 20px;/* Color de la barra de desplazamiento */
}


.photo-container img {
 width: 100%;
 background-color: beige;
 

}



.photo-container {
  cursor: pointer;
  transition: 0.3s ease;
  background-color: rgb(32, 32, 32);
  min-height: 100px;

  
}
.photo-container:hover{
  scale: 1.02;
}

.box{
  width: 100%;

  display: flex;
min-height: 120vh;

  justify-content: center;

}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 888;

padding: 9px;
background-color: black;
opacity: 0.85;
left: 15px;
top: 30px;
border-radius: 10px;
cursor: pointer;



} 


nav input {

  width: 0;
 
  border-radius: 5px;
  border: none;
  background-color: rgb(59, 59, 59);
  color: white; 
  font-family: monospace;
  font-weight: bold;
  padding: 0;
opacity: 0;
transition: width 0.3s ease, opacity 0.3s ease;

} 



nav input.open{
  opacity: 1;
  width: 190px;
  padding: 5px;
  margin-left: 5px;
}

nav input:focus{
  outline: none;
  border: 1px solid white;
} 

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 888;

padding: 14px ;
background-color: black;
opacity: 0.85;
right: 15px;
top: 30px;
border-radius: 50%;
cursor: pointer;
}

.icon-theme:hover{
  scale: 1.1;
}
.modal{ 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.911);
  display: flex;

  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  top: 0;
  font-size: 1.1rem;
  font-family: monospace;
  color: white;
  gap: 25px;

} 




.modal img {
 
width: 100%;
height: 90vh;
object-fit: contain;


}  

.modal p{
  width: 20%;
  z-index: 999;
}

button{
  z-index: 888;
  background-color: black;
} 

.icon{
  margin-right: 5px;
  cursor: pointer;
}

.icon:hover{
  scale: 1.1;
}

.box-image{
  display: inline-block; 
max-width: 100%;
  position: relative;


  
}

.btn-close{

  position: absolute;
  top: 10px;
right: 10px;
cursor: pointer;
opacity: 0.5;

 
}

.btn-close:hover{
  scale: 1.1;


} 


.btn-like{
  cursor: pointer;
  position: absolute;
  bottom: 12px;
  left: 12px;

border-radius: 2px;
  opacity: 0.6;
}

.btn-like:hover{
  scale: 1.1;
}



.btn-like.liked {
  opacity: 0.4;

  fill: rgb(255, 0, 0);
}

#shivato {

background-color: wheat;
} 


.not-photos {
  color: white;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


@media only screen and (max-width: 600px) {
  .modal{
    flex-direction: column;
    gap: 0; 

  }

  .box-image{
    height: 100%;
    position: fixed;
  }

  .modal img{
    height: 100%;

    
  } 



  .modal p {
    width: 40%;
    position: absolute;
    left: 45px;
    top: 25px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    opacity: 0.7;
  

  } 


}